input {
  max-width: "100%";
}

/* MARGIN */
.m1 {margin-bottom: 5rem; margin-top: 5rem; margin-left: 8rem;}
.m2 {margin: 2rem;}
.m3 {margin-left: 1rem}

/* font */
@font-face {font-family: 'Changa', sans-serif;}
.customfont {font-family: 'Changa', sans-serif;}
.fs1 {font-size: 21px;}
.fs2 {font-size: 36px;}
.blu {color: #5AB5ED;}
.wred {color: red; font-size: 51px; margin-left: 10rem;}

::-webkit-input-placeholder {font-style: italic;}

label {display: table-cell;}

/* Classes pour hide on click Jquerry */
.def-hidden {display: none}
.txt {display: table-cell; font-style: italic;}
