h1, p, label {
    color: white;
}

body {
    background-image: url("/background.jpg");
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    width: 100%;
    height: auto;
}

input {
  max-width: "100%"
}

/* MARGIN */
.m1 {margin-bottom:  4rem;}
.m2 {margin:  2rem;}
